<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="propertyConfigurer" class="com.qfang.examples.spring.ioc.property.MD5EncryptedPropertyPlaceholderConfigurer">
        <property name="location" value="ioc/property/system.properties" />
        <property name="fileEncoding" value="UTF-8" />
    </bean>

    <bean id="user" class="com.qfang.examples.spring.common.User">
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

</beans>