<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<substitutionProperty name="log.base" value="/log/stat_logs/infra" />
	<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

	<appender name="stat" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/stat.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.base}/stat-%d{yyyyMMdd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10000KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.qfang.web.interceptor.OperateInterceptor" level="info">
		<appender-ref ref="stat" />
	</logger>
	
	<appender name="function" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/click_menu.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.base}/click_menu-%d{yyyyMMdd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10000KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<!-- 店长平台导航菜单点击的日志 -->
	<logger name="com.qfang.service.infra.impl.ManagerWorkPlatformProviderServiceImpl" level="info">
		<appender-ref ref="function" />
	</logger>
	
	
	
	
	
	
	
	
	
	<appender name="loginLogs" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}/loginLogs.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${log.base}/loginLogs-%d{yyyyMMdd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10000KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<!-- 登陆系统次数的日志 -->
	<logger name="com.qfang.infra.controller.LoginController" level="info">
		<appender-ref ref="loginLogs" />
	</logger>

</configuration>
