<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>lesson07</title>
	
	<style>
		ul > li {
			list-style-type: none;
			padding: 5px;
		}
	</style>
	
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="lesson7.js"></script>
</head>
<body>
	<h1>lesson07</h1>
	
	<div ng-app="">
		<ul>
			<li>
				<span>input 1: <input type="text" ng-model="num1"></span> <span> {{num1}}</span>
			</li>
			<li>
				<span>input 2: <input type="text" ng-model="num2"></span> <span> {{num2}}</span>
			</li>
			<li>
				<span>input 3: <input type="text" ng-model="num3"></span> <span> {{num3}}</span>
			</li>
			<li>
				<span>input 4: <input type="text" ng-model="num4"></span> <span> {{num4}}</span>
			</li>
			<li>
				<span>input 5: <input type="text" ng-model="num5"></span> <span> {{num5}}</span>
			</li>
			<li>
				<span>input 6: <input type="text" ng-model="num6"></span> <span> {{num6}}</span>
			</li>
			<li>
				<span>input 7: <input type="text" ng-model="num7"></span> <span> {{num7}}</span>
			</li>
		</ul>
	</div>
	
</body>
</html>
